.mapContainer {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 700px;
    }

.sidebarStyle {
    display: inline-block;
    position: absolute;
    /* top: 1; */
    left: 1;
    margin: 12px;
    background-color: #800000;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
    }  

body {
    /* font-family: "Roboto", "Helvetica", "Arial", "sans-serif"; */
    font-family: geneva,arial,helvetica;
}

.marker {
    background-image: url('https://cdn11.bigcommerce.com/s-fpinx/images/stencil/1280x1280/products/254491/172592/Mustache-Ball-Marker-2__22581.1455149486.png?c=2');
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }

